<header>
    <div class="container">
        <div class="main-logo">
            <img src="../../assets/logo.png" alt="">
        </div>
        <nav class="nav">
            <ul>
                <li>
                    <span class="side-icon material-icons"> manage_accounts </span>
                </li>
                <li>
                    <span class="side-icon material-icons"> group </span>
                </li>
                <li>
                    <span class="side-icon material-icons"> note_alt </span>
                </li>
                <li>
                    <span class="side-icon material-icons"> monetization_on </span>
                </li>
                <li>
                    <span class="side-icon material-icons"> assignment_turned_in </span>
                </li>
                <li>
                    <span class="side-icon material-icons"> local_police </span>
                </li>
                <li>
                    <span class="side-icon material-icons"> home </span>
                </li>
                <li>
                    <span class="side-icon material-icons"> local_shipping </span>
                </li>
                <li>
                    <span class="side-icon material-icons"> drive_file_rename_outline </span>
                </li>
                <li>
                    <span class="side-icon material-icons"> text_snippet </span>
                </li>
            </ul>
        </nav>
    </div>
</header>