// Some Resets & global styling...
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
}
